<h1>Create New Meal</h1>

<form action="/meal" method="POST">
  <div>
    <label for="title">Meal Name</label>
    <input type="text" name="title" placeholder="Meal Name" />
  </div>
  <div>
    <label for="description">Meal Description</label>
    <textarea 
    type="text" 
    name="description" 
    placeholder="Restaurant Specialty"></textarea>
  </div>
  <div>
    <label for="subject">Meal Image</label>
    <input type="text" name="subject" placeholder="Meal Image" />
  </div>
  <div>
    <label for="subject">Customers</label>
    <input type="text" name="subject" placeholder="Price Point" />
  </div>
  <div>
    <label for="subject">Price</label>
    <input type="text" name="subject" placeholder="Meals" />
  </div>
  <div>
    <label for="subject">Quantity</label>
    <input type="text" name="subject" placeholder="Qty" />
  </div>
  <button type="submit">Save New Customer</button>
</form>


