<h1>All Cooks</h1>

<button type="submit">
  <a href="/cooks/new">Create Cook</a>
</button>

<ul>
  {{#each listOfCooks}}
  <li>
    <a href="/cooks/{{_id}}">
      <p>{{name}}</p>
    </a>
  </li>
  {{/each}}
</ul>