<h1>Create New Cook</h1>

<form action="/cook" method="POST">
  <div>
    <label for="title">Restaurant Name</label>
    <input type="text" name="title" placeholder="Restaurant Name" />
  </div>
  <div>
    <label for="description">Restaurant Specialty</label>
    <textarea 
    type="text" 
    name="description" 
    placeholder="Restaurant Specialty"></textarea>
  </div>
  <div>
    <label for="subject">Restaurant Location</label>
    <input type="text" name="subject" placeholder="Restaurant Location" />
  </div>
  <div>
    <label for="subject">Food Price</label>
    <input type="text" name="subject" placeholder="Price Point" />
  </div>
  <div>
    <label for="subject">Meals</label>
    <input type="text" name="subject" placeholder="Meals" />
  </div>
  <button type="submit">Save New Restaurant</button>
</form>

