<h1>Create New Cook</h1>

<form action="/cooks" method="POST">
  <div>
    <label for="name">Restaurant Name</label>
    <input type="text" name="name" placeholder="Restaurant Name" />
  </div>
  <div>
    <label for="specialty">Restaurant Specialty</label>
    <textarea 
    type="text" 
    name="specialty" 
    placeholder="Restaurant Specialty"></textarea>
  </div>
  <div>
    <label for="location">Restaurant Location</label>
    <input type="text" name="location" placeholder="Restaurant Location" />
  </div>
  <div>
    <label for="restaurant_desc">Restaurant Description</label>
    <textarea 
    type="text" 
    name="restaurant_desc" 
    placeholder="Restaurant Specialty"></textarea>
  </div>
  <div>
    <label for="food_pricepoint">Food Price</label>
    <input type="text" name="food_pricepoint" placeholder="Price Point" />
  </div>

  <button type="submit">Save New Restaurant</button>
</form>

